body {
    font: 10px sans-serif;
}

.bar rect {
    fill: steelblue;
    shape-rendering: crispEdges;
}

.bar text {
    fill: #black;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

form p {
    display: inline-block;
}

input.narrow_numeric {
    width: 40px;
}

div#alert span#message {
    display: none;
    color: red;
}